:root {
  --primary-text-color: #000000;
  --contrast-text-color: #ffffff;
  --primary-highlight-color: #347cce;
  --primary-highlight-color-alpha: #347cce22;
  --primary-background-color: #ffffff;
  --contrast-background-color: #000000;

  --max-width: 600px;
  --border-width-sm: 2px;
  --spacing-large: 40px;
  --spacing-normal: 20px;
  --spacing-small: 10px;
  --border-radius-normal: 25px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text-color: #dddddd;
    --contrast-text-color: #222222;
    --primary-highlight-color: #b287ff;
    --primary-highlight-color-alpha: #b287ff22;
    --primary-background-color: #222222;
    --contrast-background-color: #dddddd;
  }
}

body[data-forcemode="dark"] {
  --primary-text-color: #dddddd;
  --contrast-text-color: #222222;
  --primary-highlight-color: #b287ff;
  --primary-highlight-color-alpha: #b287ff22;
  --primary-background-color: #222222;
  --contrast-background-color: #dddddd;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-background-color);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.6em;

  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  transition: all 100ms ease-in-out;
}

header {
  margin: 0 auto;
  background-color: var(--primary-background-color);
  padding: var(--spacing-normal);
  width: 100%;
  border: var(--border-width-sm) solid var(--contrast-background-color);
  max-width: var(--max-width);
}

h1 {
  text-align: center;
  margin: 0px;
}

h1:first-letter {
  color: var(--primary-highlight-color);
}

footer {
  margin: 0 auto;
  background-color: var(--primary-background-color);
  padding: var(--spacing-normal);

  position: sticky;
  bottom: 0px;
  z-index: 100;
  width: 100%;
  border: var(--border-width-sm) solid var(--contrast-background-color);
  max-width: var(--max-width);
}

main {
  margin: var(--spacing-normal) auto;
  padding: 0px var(--spacing-normal);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-normal);
  flex: 1;
  width: 100%;
  max-width: var(--max-width);
}

.easter-egg {
  cursor: help;
}

@keyframes rotation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.spin .new-card__button,
.spin .profile-card__image,
.spin .profile-card__switch,
.spin .profile-card__counter,
.spin .question-card__category,
.spin .question-card__bookmark-icon,
.spin .question-card__toggle-answer-button,
.spin .navbar__element {
  animation: rotation 1s linear infinite;
}
