.navbar {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.navbar__element {
  align-self: center;
  flex: 1;
}

.navbar__element-link {
  display: block;
  border: 2px solid white;
  padding: 15px;
}

.navbar__element:hover,
.navbar__element--active {
  background-color: white;
}

.navbar__element-icon {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: 0 auto;
  filter: invert();
}

.navbar__element:hover .navbar__element-icon,
.navbar__element--active .navbar__element-icon {
  filter: none;
}

.navbar__element-icon--home {
  background-image: url("../../assets/home.svg");
}

.navbar__element-icon--bookmarks {
  background-image: url("../../assets/card-bookmark.png");
}

.navbar__element-icon--profile {
  background-image: url("../../assets/profile.svg");
}
