.navbar {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: var(--spacing-normal);
}

.navbar__element {
  align-self: center;
  flex: 1;
  background-color: var(--primary-highlight-color);
  transition: all 100ms ease-in-out;
}

.navbar__element-link {
  display: block;
  border: var(--border-width-sm) solid var(--contrast-background-color);
  padding: var(--spacing-small);
}

.navbar__element:hover,
.navbar__element--active {
  background-color: var(--contrast-background-color);
}

.navbar__element:hover {
  transform: scale(1.05);
}

.navbar__element-icon {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center center;
  margin: 0 auto;

  background-color: var(--contrast-text-color);
}

/*
.navbar__element:hover .navbar__element-icon,
.navbar__element--active .navbar__element-icon {
}
*/

.navbar__element-icon--home {
  mask-image: url("../../assets/nav-home.svg");
}

.navbar__element-icon--bookmarks {
  mask-image: url("../../assets/nav-bookmark.png");
}

.navbar__element-icon--new-card {
  mask-image: url("../../assets/nav-new-card.svg");
}

.navbar__element-icon--profile {
  mask-image: url("../../assets/nav-profile.svg");
}
