.question-card {
  background-color: var(--primary-background-color);
  border: var(--border-width-sm) solid var(--contrast-background-color);
  padding: var(--spacing-normal);
  position: relative;
}

.question-card__question {
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
}

.question-card code {
  color: var(--primary-highlight-color);
}

.question-card li code,
.question-card p code {
  font-weight: 600;
}

.question-card__answer li {
  text-align: left;
}

.question-card__toggle-answer-button {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
  padding: var(--spacing-small) var(--spacing-normal);
  color: var(--contrast-text-color);
  background-color: var(--primary-highlight-color);
  border: var(--border-width-sm) solid var(--contrast-background-color);
  font-size: inherit;

  transition: all 100ms ease-in-out;
}

.question-card__toggle-answer-button:hover {
  background-color: var(--contrast-background-color);
  transform: scale(1.05);
}

/* hide show-label */
.question-card__answer-show-text {
  display: none;
}

.question-card--answer-hidden .question-card__answer-show-text {
  display: block;
}

/* show hide-label */

.question-card--answer-hidden .question-card__answer-hide-text {
  display: none;
}

.question-card__toggle-answer-checkbox {
  display: none;
}

.question-card__answer {
  text-align: center;
}

.question-card__answer {
  display: grid;
  grid-template-rows: 1fr;
  transition: 250ms grid-template-rows ease;
}

.question-card__answer > div {
  overflow: hidden;
}

.question-card--answer-hidden .question-card__answer {
  grid-template-rows: 0fr;
}

/* show answer */

.question-card--answer-open .question-card__answer {
  display: block;
}

.question-card__categories {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: var(--spacing-normal) 0 0;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-small);
}

.question-card__category {
  display: block;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  border: var(--border-width-sm) solid var(--contrast-background-color);
  border-radius: var(--border-radius-normal);
  padding: var(--spacing-small) var(--spacing-normal);
}

.question-card__bookmark {
  position: absolute;
  top: -10px;
  right: 5px;
  z-index: 10;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0px;
  background-color: transparent;
  transition: all 150ms ease-in-out;
}

.question-card__bookmark:hover {
  transform: scale(1.1);
}

/*
.question-card__bookmark:before {
  content: "";
  position: absolute;
  top: 6px;
  right: 5px;
  background: var(--primary-background-color);
  width: 30px;
  height: 5px;
  z-index: -1;
}
*/

.question-card__bookmark-icon {
  background-image: url(../../assets/bookmark-light.png);
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.question-card__bookmark-icon:hover,
.question-card--bookmarked .question-card__bookmark-icon {
  background-image: url(../../assets/bookmarked-light.png);
}

.question-card__bookmark-checkbox {
  display: none;
}

/* hide un-bookmarked cards */

/* animate start */

body.bookmarks .question-card {
  opacity: 1;
  transform: scale(1);

  display: grid;
  grid-template-rows: 1fr;
  transform-origin: center center;
  transition:
    grid-template-rows 1s ease-out,
    opacity 1s ease-out,
    transform 1s ease-out,
    margin-top 1s ease-out;
}

.question-card > div {
  overflow: hidden;
}

body.bookmarks .question-card:not(.question-card--bookmarked) {
  grid-template-rows: 0fr;
  opacity: 0;
  transform: scale(0);
  margin-top: 0px;
  margin-top: calc(0px - calc(3 * var(--spacing-normal)) - calc(2 * var(--border-width-sm)));
}

/* animate end */

.question-card > div > *:first-child {
  margin-top: var(--spacing-normal);
}

.question-card > div > *:last-child {
  margin-bottom: var(--spacing-normal);
}

@media (prefers-color-scheme: dark) {
  .question-card__bookmark-icon {
    background-image: url(../../assets/bookmark-dark.png);
  }

  .question-card__bookmark-icon:hover,
  .question-card--bookmarked .question-card__bookmark-icon {
    background-image: url(../../assets/bookmarked-dark.png);
  }
}

body[data-forcemode="dark"] .question-card__bookmark-icon {
  background-image: url(../../assets/bookmark-dark.png);
}

body[data-forcemode="dark"] .question-card__bookmark-icon:hover {
  background-image: url(../../assets/bookmarked-dark.png);
}
