.question-card {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 20px;
  position: relative;
}

.question-card__question {
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
}

.question-card code {
  color: purple;
  font-size: 1.1em;
}

.question-card:has(input.question-card__toggle-answer-checkbox:checked)
  .question-card__answer {
  display: block;
  text-align: center;
}

.question-card__answer li {
  text-align: left;
}

.question-card__toggle-answer-label {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  background-color: purple;
  border: 2px solid purple;
}
.question-card__toggle-answer-label:hover {
  color: purple;
  background-color: white;
}

.question-card:has(input.question-card__toggle-answer-checkbox:checked)
  .question-card-show-label {
  display: none;
}

.question-card:has(input.question-card__toggle-answer-checkbox:checked)
  .question-card-hide-label {
  display: block;
}

.question-card__toggle-answer-checkbox {
  display: none;
}

.question-card__categories {
  display: flex;
  list-style: none;
  padding: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.question-card__category {
  display: block;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 15px;
}

.question-card__bookmark {
  position: absolute;
  top: -10px;
  right: 5px;
  z-index: 10;
  width: 40px;
  height: 40px;
}

.question-card__bookmark:before {
  content: "";
  position: absolute;
  top: 6px;
  right: 5px;
  background: white;
  width: 30px;
  height: 5px;
  z-index: -1;
}

.question-card__bookmark-icon {
  background-image: url(../../assets/card-bookmark.png);
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.question-card__bookmark:has(input.question-card__bookmark-checkbox:checked)
  .question-card__bookmark-icon {
  background-image: url(../../assets/card-bookmarked.png);
}

.question-card__bookmark-icon:hover {
  opacity: 0.5;
}

.question-card__bookmark-checkbox {
  display: none;
}

body.bookmarks
  .question-card:not(:has(input.question-card__bookmark-checkbox:checked)) {
  display: none;
}

main:empty:before {
  content: "test";
  display: block;
}

.question-card-fallback:first-child {
  display: block;
}
