.question-card {
  background-color: var(--primary-background-color);
  border: var(--border-width-sm) solid var(--contrast-background-color);
  padding: var(--spacing-normal);
  position: relative;
}

.question-card__question {
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
}

.question-card code {
  color: var(--primary-highlight-color);
  font-size: 1.1em;
}

.question-card li code,
.question-card p code {
  font-weight: 600;
}

.question-card:has(input.question-card__toggle-answer-checkbox:checked)
  .question-card__answer {
  display: block;
  text-align: center;
}

.question-card__answer li {
  text-align: left;
}

.question-card__toggle-answer-label {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
  padding: var(--spacing-small) var(--spacing-normal);
  color: var(--contrast-text-color);
  background-color: var(--primary-highlight-color);
  border: var(--border-width-sm) solid var(--contrast-background-color);
}
.question-card__toggle-answer-label:hover {
  background-color: var(--contrast-background-color);
}

.question-card:has(input.question-card__toggle-answer-checkbox:checked)
  .question-card-show-label {
  display: none;
}

.question-card:has(input.question-card__toggle-answer-checkbox:checked)
  .question-card-hide-label {
  display: block;
}

.question-card__toggle-answer-checkbox {
  display: none;
}

.question-card__categories {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: var(--spacing-normal) 0 0;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-small);
}

.question-card__category {
  display: block;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  border: var(--border-width-sm) solid var(--contrast-background-color);
  border-radius: var(--border-radius-normal);
  padding: var(--spacing-small) var(--spacing-normal);
}

.question-card__bookmark {
  position: absolute;
  top: -10px;
  right: 5px;
  z-index: 10;
  width: 40px;
  height: 40px;
}

/*
.question-card__bookmark:before {
  content: "";
  position: absolute;
  top: 6px;
  right: 5px;
  background: var(--primary-background-color);
  width: 30px;
  height: 5px;
  z-index: -1;
}
*/

.question-card__bookmark-icon {
  background-image: url(../../assets/bookmark-light.png);
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.question-card__bookmark-icon:hover,
.question-card__bookmark:has(input.question-card__bookmark-checkbox:checked)
  .question-card__bookmark-icon {
  background-image: url(../../assets/bookmarked-light.png);
}

.question-card__bookmark-checkbox {
  display: none;
}

body.bookmarks
  .question-card:not(:has(input.question-card__bookmark-checkbox:checked)) {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .question-card__bookmark-icon {
    background-image: url(../../assets/bookmark-dark.png);
  }

  .question-card__bookmark-icon:hover,
  .question-card__bookmark:has(input.question-card__bookmark-checkbox:checked)
    .question-card__bookmark-icon {
    background-image: url(../../assets/bookmarked-dark.png);
  }
}

/*
body:has(#darkmode:checked) {

}
*/

body:has(#darkmode:checked) .question-card__bookmark-icon {
  background-image: url(../../assets/bookmark-dark.png);
}

body:has(#darkmode:checked) .question-card__bookmark-icon:hover,
body:has(#darkmode:checked)
  .question-card__bookmark:has(input.question-card__bookmark-checkbox:checked)
  .question-card__bookmark-icon {
  background-image: url(../../assets/bookmarked-dark.png);
}
